div.checkbox__wrap
    div.checkbox.is-active
        div.checkbox__header
            span.checkbox__current expandable checkbox list
            span.checkbox__icon expand_more
        div.checkbox__body
            div.checkbox__item
                    input(type="checkbox" name="item" id="breakfast")
                    label(for="breakfast") Завтрак
            div.checkbox__item
                    input(type="checkbox" name="item" id="table" checked)
                    label(for="table") Письменный стол
            div.checkbox__item
                    input(type="checkbox" name="item" id="chair" checked)
                    label(for="chair") Стул для кормления
            div.checkbox__item
                    input(type="checkbox" name="item" id="bed" checked)
                    label(for="bed") Кроватка
            div.checkbox__item
                    input(type="checkbox" name="item" id="tv")
                    label(for="tv") Телевизор
            div.checkbox__item
                    input(type="checkbox" name="item" id="shampoo")
                    label(for="shampoo") Шампунь