div.checkbox__wrap
    div.checkbox
        div.checkbox__header
            span.checkbox__current expandable checkbox list
            span.checkbox__icon expand_more
        div.checkbox__body
            div.checkbox__item
                input(type="checkbox" id="breakfast" name="breakfast") 
                label(for="vehicke1") Завтрак
            div.checkbox__item
                input(type="checkbox" id="vehicle1" name="vehicle1" checked) 
                label(for="vehicke1") Письменный стол
            div.checkbox__item
                input(type="checkbox" id="vehicle1" name="vehicle1" checked) 
                label(for="vehicke1") Стул для кормления
            div.checkbox__item
                input(type="checkbox" id="vehicle1" name="vehicle1" checked) 
                label(for="vehicke1") Кроватка
            div.checkbox__item
                input(type="checkbox" id="vehicle1" name="vehicle1") 
                label(for="vehicke1") Телевизор
            div.checkbox__item
                input(type="checkbox" id="vehicle1" name="vehicle1") 
                label(for="vehicke1") Шампунь