div.frame-buttons-before__content
    div.frame-buttons-before__body
        div.frame-buttons-before__item
            div.frame-buttons-before__clickMe
                a(class="frame-click-before__button" href="#") click me
