
.dateDrop__content{
    width:150px;
    margin-left:141px;
    margin-top: 20px;
}

.dateDrop__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 5px;
}

.dateDrop__form {
    cursor: pointer;
    display: flex;

    .dateDrop__field{
        display: flex;
    }

    form {
        display: inline-flex;
        border: 1px solid rgba(31, 32, 65, 0.25);
        align-items: center;
        border-radius: 4px;
        overflow: hidden;
       

        input {
            border: none;
            padding: 12.2px 15px;
            padding-right: 0px;
            outline: 0;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color:rgba(31, 32, 65, 0.25);
            width: 106px;

        }
        .dateDrop__icon{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            flex-shrink: 0;
            height: 42px;
            width: 42px;
            margin-left: auto;
            font-family: 'Material Icons';
            font-size: 24px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.5);
        }

    }
}

@import "../../../../../styles/mixins.scss";

.dropFull__wrap {
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
}


.dropFull__title {
    @include titleDropdown;
}

.dropFull__form {
    cursor: pointer;
    display: flex;

    .dropFull__field {
        display: flex;
    }

    form {
        display: inline-flex;
        border: 1px solid rgba(31, 32, 65, 0.25);
        align-items: center;
        border-radius: 4px;
        overflow: hidden;


        input {
            @include inputs;

        }

        .dropFull__icon {
            @include arrowDown;
        }

    }
}

.wrap__both{
 display: flex;
}