div.filter__wrap
    div.select__filter
        div.filter__text filter date dropdown
        div.filter__header
            span.filter__current 19 авг - 23 авг
            span.filter__icon expand_more

        div.filter__body
