div.calendar__wrap
    div.calendar__content.is-active
        div.calendar__title masked text field
        div.calendar__input
            div.calendar__form
                form(action="#")
                    div.calendar__field
                        input(type="text" name="data" id="data" placeholder="ДД.ММ.ГГГГ")