div.dropRight__wrapper
    div.dropRight__select.is-active
        div.dropRight__title dropdown
        div.dropRight__select__header
            span.dropRight__current#js_result 3 гостя
            span.dropRight__icon expand_more

        div.dropRight__body
            div.dropRight__counter__select
                div.dropRight__item.firstItem Взрослые
                div.dropRight__counter
                    button.dropRight__counter__btn(data-direction="minus") -
                    input.dropRight__counter__value(type="text" value="0")
                    button.dropRight__counter__btn(data-direction="plus") +
            div.dropRight__counter__select
                div.dropRight__item Дети
                div.dropRight__counter
                    button.dropRight__counter__btn(data-direction="minus") -
                    input.dropRight__counter__value(type="text" value="0")
                    button.dropRight__counter__btn(data-direction="plus") +
            div.dropRight__counter__select
                div.dropRight__item.lastItem Младенцы
                div.dropRight__counter
                    button.dropRight__counter__btn(data-direction="minus") -
                    input.dropRight__counter__value(type="text" value="0")
                    button.dropRight__counter__btn(data-direction="plus") +
            div.dropRight__btn__block
            div.dropRight__button
                div.button__cancel очистить
            div.dropRight__button
                div.button__submit применить        
        