div.frame-buttons-after__content
    div.frame-buttons-after__body
        div.frame-buttons-after__item
            div.frame-buttons-after__clickMe
                a(class="frame-click-after__button" href="#") click me
