div.simpl-button-after__content
    div.simpl-button-after__body
        div.simpl-button-after__item
            div.simpl-button-after__clickMe
                a(class="simpl-button-after-src__button" href="#") click me
