div.like-button__block
    div.like-button__title like button
    div.like-button__wrapper
        div.like-button__enable
            div.like-button__btn
                span.like-button__heart favorite_border
                span.like-button__heart.enabled favorite
                span.like-button__counter 2
        div.like-button__able
            div.like-button__btn.active
                span.like-button__heart favorite_border
                span.like-button__heart.enabled favorite
                span.like-button__counter 12