div.simpl-button-before__content
    div.simpl-button-before__body
        div.simpl-button-before__item
            div.simpl-button-before__clickMe
                a(class="simpl-button-before-src__button" href="#") click me
