.simpl-button-before__content {
    margin-top: 31px;
    margin-left: 175.26px;
}

.simpl-button-before__item {
    margin-right: 20px;
}

.simpl-button-before-src__button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
}

.simpl-button-before-src__button:active {

    color: rgba(31, 32, 65, 0.5);

}