//colors






 
//DROPDOWN STYLES START

//current text field
@mixin currentTextField{
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    padding: 9px;
    padding-left: 15px;
}

//header 

@mixin dropHeader{
    display: flex;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    cursor: pointer;
}

//button counter

@mixin dropCounterBtn{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 22px;
    background-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(31, 32, 65, 0.5);
    margin-bottom: 7px;
    margin-right: 7px;
    margin-top: 6px;
}


//value for counter button

@mixin valueOfCounter {
    width: 32px;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}


//body

@mixin dropBody {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    display: none;
    background-color: #FFFFFF;
}


//icon-arrow for inputs and dropdown

@mixin arrowDown {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    height: 42px;
    width: 42px;
    margin-left: auto;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
}

// select items

@mixin itemFromDropdown{
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    padding: 11px;
    padding-left: 15px;
}


//inputs for calendar/dropdown

@mixin inputs {
    border: none;
    padding: 12.2px 15px;
    padding-right: 0px;
    outline: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25);
    width: 106px;
}


//button submit

@mixin btnSubmit {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;

    margin-right: 7px;
    margin-top: 20px;
    margin-bottom: 13px;
    cursor: pointer;
}


//button cancel

@mixin btnCancel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    margin-left: 14px;
    margin-top: 20px;
    margin-bottom: 13px;
    cursor: pointer;
}



//DROPDOWN STYLES END











//title for page form and elements

@mixin titleDropdown {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 5px;
}

//checkbox elements


@mixin elementsTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

//items
@mixin elementsItem {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
}

//label for checkbox elements

@mixin label-before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 10px;
}

//checked sign

@mixin checkboxIcon {
    border: 1px solid #BC9CFF;
    text-align: center;
    background-size: 100%;
    content: "\e5ca";
    font-family: 'Material Icons';
    color: #BC9CFF;

}