div.wrapper-toggle
  form(action="#" class='block-form')
    div.block-form__title Toggle
    div.block-form__input
      div.checkbox-toggle Получать спецпредложения
        input(type="checkbox" checked name="checkbox_on")
    div.block-form__input
      div.checkbox-toggle Получать спецпредложения
        input(type="checkbox" name="checkbox_off")
