div.container__email
    div.email__title subscription text field
    div.email__input    
        div.email__form
            form(action="#")
                div.email__field
                    input(type="email" name="email" id="email" placeholder="Email")
                    span.email__arrow arrow_forward