@mixin square ($background) {
    width: 70px;
    height: 70px;
    background: $background;
    border-radius: 6px;
}

/*mixin for first set of columns*/

.item__image1 {
    @include square(#1F2041);
    flex: 0 0 70px;
}

.item__image2 {
    @include square(rgba(31, 32, 65, 0.75));
    flex: 0 0 70px;
}

.item__image3 {
    @include square(rgba(31, 32, 65, 0.5));
    flex: 0 0 70px;
}

.item__image4 {
    @include square(rgba(31, 32, 65, 0.25));
    flex: 0 0 70px;
}

.item__image5 {
    @include square(rgba(31, 32, 65, 0.05));
    flex: 0 0 70px;
}

.item__image6 {
    @include square(#BC9CFF);
    flex: 0 0 70px;
}

.item__image7 {
    @include square(#6FCF97);
    flex: 0 0 70px;
}

body {
    font-family: "Quicksand", sans-serif;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 145px 191px 145px 149.74px;
}

.columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.columns__row {
    display: flex;
    flex-direction: column;
   
}

.columns__column {
    flex: 0 1 50%;
    margin-bottom: 20px;
    
}

.item__row {
    display: flex;
}


.item__body {
    flex: 1 1 auto;
    padding-left: 40px;
    justify-content: center;
    align-items: center;
}

.item__title {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
    color: #1F2041;
}

.item__subtitle {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
    color: #1F2041;
}


/*SECOND COLUMN*/

.columns__row2 {
    display: flex;
    flex-direction: column;
    max-width: 403px;
    
}

.columns__column-2 {
    margin-bottom: 50px;
    //flex: 1 1 calc(33.33% - 30px);
   // flex: 1 1 50%;
   
}

.item__body {
    flex: 1 1 auto;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.item__name1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: rgba(31, 32, 65, 0.25);
}

.item__text1 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
}

/*second set of columns*/

.item__name2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    color: rgba(31, 32, 65, 0.25);
}

.item__text2 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
}


.item__name3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.25);
    text-transform: uppercase;
}

.item__text3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    text-transform: uppercase;
}

.item__name4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
}

.item__text4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);

}