div.benefits__wrap
    div.benefits
        div.benefits__menu
            div.menu__first
                span.menu__icon insert_emoticon
                span.menu__text-block 
                    div.menu__title Комфорт
                    div.menu__subtitle Шумопоглощающие стены
            div.menu__second
                span.menu__icon location_city
                span.menu__text-block 
                    div.menu__title Удобство
                    div.menu__subtitle Окно в каждой из спален