div.review__block
    div.review
        div.review__header
            div.review__header__userpic 
            div.review__header__info
                div.review__header__username Мурад Сарафанов
                div.rewiew__header__data 5 дней назад
        div.review__body
            div.review__body__like-button
                include ../buttons/like-button/like-button-12.pug
            div.review__body__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.<br> И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.