div.bulletList__conteiner
    div.bulletList__header 
        div.bulletList__title bullet list
    div.bulletList__body 
        div.bulletList__block 
            div.block__circle 
            div.block__text Нельзя с питомцами
        div.bulletList__block 
            div.block__circle 
            div.block__text Без вечеринок и мероприятий
        div.bulletList__block 
            div.block__circle 
            div.block__text.lastElement Время прибытия — после 13:00,<br>а выезд до 12:00
