@font-face {
    font-family: 'Quicksand';
    src: url('../../fonts/QuicksandRegular/Quicksand.svg') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../fonts/QuicksandRegular/Quicksand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../fonts/QuicksandRegular/Quicksand.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Monserrat';
    src: url('../../fonts/montserrat/montserrat.svg') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monserrat';
    src: url('../../fonts/montserrat/montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monserrat';
    src: url('../../fonts/montserrat/montserrat.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}