//FOOTER//

footer.footer
    div.footer__top
        div.footer__container
            div.row
                div.col-md-3.col-sm-6.col-xs-12.segment-one
                    h1
                        img(src="../img/header/logo.png" alt="")
                        p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды» 
                div.col-md-2.col-sm-6.col-xs-12.segment-two
                    h2 навигация
                    ul.box
                        li
                        a(href="") О нас
                        li
                        a(href="") Новости
                        li
                        a(href="") Служба поддержки
                        li
                        a(href="") Услуги
                div.col-md-2.col-sm-6.col-xs-12.segment-three
                    h2 о нас
                    ul.box.h-box
                        li
                        a(href="") О сервисе
                        li
                        a(href="") Наша команда
                        li
                        a(href="") Вакансии
                        li
                        a(href="") Инвесторы
                div.col-md-2.col-sm-6.col-xs-12.segment-four
                    h2 cлужба поддержки
                    ul.box
                        li
                        a(href="") Соглашения
                        li
                        a(href="") Сообщества
                        li
                        a(href="") Связь с нами
                div.col-md-3.col-sm-6.col-xs-12.segment-five
                    h2 подписка
                    div.footer__imput
                        p Получайте специальные предложения и новости сервиса
                        div.container__input
                            form
                                i.fas.fa-arrow-right
                                input(type="text", name="Email" placeholder="Email")
    div.footer__bottom
        div.bottom__container
            div.footer__flex
                div.footer__message
                    p Copyright © 2018 Toxin отель. Все права зачищены.
                div.footer__socials
                    img(src="../img/header/01.png" alt="")
                    img(src="../img/header/02.png" alt="")
                    img(src="../img/header/03.png" alt="")