div.pagination__wrapper
    div.pagination__title pagination
    div.pagination
        //div#data-container
        table#table
        ul#pagination
        //div#pagination-container
        span.pagination__arrow-next.circle arrow_forward

    div.pagination__outline 1 – 12 из 100+ вариантов аренды

