div.rich-buttons__wrapper
    div.rich-buttons__main
        div.rich-buttons__header rich Checkbox Buttons
        div.rich-buttons__body
            div.rich-buttons__block
                div.rich-buttons__item
                    input(type="checkbox" name="item" id="hallway" class="main-input")
                    label(for="hallway") Широкий коридор
                div.rich-buttons__item__subtitle Ширина коридоров в номере<br> не менее 91 см.
            div.rich-buttons__block
                div.rich-buttons__item
                    input(type="checkbox" name="item" id="helper" class="main-input")
                    label(for="helper") Помощник для инвалидов
                div.rich-buttons__item__subtitle На 1 этаже вас встретит специалист<br>  и проводит до номера.
