
div.container__input
    div.form__container
        form(action="#")
            div.email__input
                input(type="email" name="email" id="email" placeholder="Email")
                    i.material-icons.icon arrow_forward