footer.footer__mob
    div.footer__block
        div.footer__wrapper
            div.footer__main
                img(src="../img/header/logo.png", alt="")
            div.footer__text
                p Copyright © 2018 Toxin отель. Все права зачищены.
            div.logo__socials 
                img.social(src="../img/header/01.png", alt="")
                img.social(src="../img/header/02.png", alt="")
                img.social(src="../img/header/03.png", alt="")

