//first input
@import "inputs/simple-input/default-style.scss";
@import "inputs/simple-input/hover-style.scss";
@import "inputs/counterGuest/dropdown-guest-style.scss";
@import "inputs/calendar-inputs/masked-style.scss";
@import "inputs/calendar-inputs/date-dropdown/date-dropdown-empty-style.scss";
@import "inputs/calendar-inputs/date-dropdown/filter-drop-style.scss";
@import "inputs/email/email-style.scss";
@import "inputs/rooms/room.scss";
@import "inputs/rooms/room-def-style.scss";
@import "inputs/checkbox/box-list-style.scss";
@import "benefits/benefits.scss";
@import "inputs/checkbox/checkbox-buttons/checkbox-buttons-style.scss";
@import "inputs/radiobuttons/radiobuttons-style.scss";




@import "../../styles/mixins.scss";

body {
    font-family: "Quicksand", sans-serif;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.column__start {
    flex: 33%;
}

.column__middle {
    flex: 33%;
}

.column__end {
    flex: 33%;
}