<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Form Elements
        link(rel="stylesheet" href="components/null-function.scss")
        link(rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css")
        link(rel="stylesheet" href="components/form-elements/form-elements.scss")
        link(rel="stylesheet" href="components/fonts.scss")



    body
        div.wrapper
            div.column
                include components/form-elements/inputs/simple-input/input-default.pug
                include components/form-elements/inputs/simple-input/input-hover.pug
                include components/form-elements/inputs/counterGuest/dropdown-guest.pug
                script(src="components/form-elements/inputs/counterGuest/guest-dropdown.js")
                include components/form-elements/inputs/calendar-inputs/masked.pug
                script(src="components/form-elements/inputs/calendar-inputs/masked.js")
                include components/form-elements/inputs/calendar-inputs/date-dropdown/date-dropdown-empty.pug
                include components/form-elements/inputs/calendar-inputs/date-dropdown/filter-drop.pug
                include components/form-elements/inputs/email/email-form.pug
                include components/form-elements/inputs/rooms/room-def.pug
                include components/form-elements/inputs/rooms/room.pug
                script(src="components/form-elements/inputs/rooms/room.js") 
                include components/form-elements/inputs/checkbox/unactive/box-list-unactive.pug
                include components/form-elements/inputs/checkbox/box-list.pug
                script(src="components/form-elements/inputs/checkbox/box-list.js") 
                include components/form-elements/benefits/benefits.pug
            div.column
                include components/form-elements/inputs/checkbox/checkbox-buttons/checkbox-buttons.pug  
                include components/form-elements/inputs/radiobuttons/radiobuttons.pug 
                script(src="components/form-elements/inputs/radiobuttons/radiobuttons.js") 
                include components/form-elements/inputs/radiobuttons/toggle-buttons/toggle-buttons.pug
                script(src="components/form-elements/inputs/radiobuttons/toggle-buttons/toggle-buttons.js")
                include components/form-elements/buttons/like-button/like-button.pug
                script(src="components/form-elements/buttons/like-button/like-button.js")
                include components/form-elements/inputs/radiobuttons/rate-stars/rate-stars.pug
                include components/form-elements/inputs/counterGuest/activeCounter-guest/dropdown-guest-active.pug
                include components/form-elements/inputs/checkbox/rich-checkbox-buttons/rich-checkbutton.pug
                include components/form-elements/review/review-murad.pug 
            div.column
                include components/form-elements/slider/slider.pug
                script(src="components/form-elements/slider/slider.js")
                div.flex-row
                    include components/form-elements/buttons/click-me-button/click-button-full.pug
                    include components/form-elements/buttons/click-me-button/after-click-buttons/click-button-after.pug                         
                div.flex-row
                    include components/form-elements/buttons/click-me-button/frame-button/frame-button-before.pug
                    include components/form-elements/buttons/click-me-button/after-click-buttons/frame-button-after.pug
                div.flex-row
                    include components/form-elements/buttons/click-me-button/simple-button-click/simple-button-before.pug
                    include components/form-elements/buttons/click-me-button/after-click-buttons/simple-button-after.pug
                include components/form-elements/buttons/pay-button/payment-button.pug
                include components/form-elements/pagination/pagination.pug
                script(src="components/form-elements/pagination/pagination.js")
                include components/form-elements/inputs/counterGuest/activeDropdownRight/dropdown-guest-right.pug
                script(src="components/form-elements/inputs/counterGuest/activeDropdownRight/dropdown-guest-right.js")
                include components/form-elements/bulletList/bulletList.pug

