<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Form Elements
        link(rel="stylesheet" href="components/null-function.scss")
        link(rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css")
        link(rel="stylesheet" href="components/form-elements/form-elements.scss")
        link(rel="stylesheet" href="components/fonts.scss")


    body
        div.wrapper
            div.column__start
                include components/form-elements/inputs/simple-input/input-default.pug
                include components/form-elements/inputs/simple-input/input-hover.pug
                include components/form-elements/inputs/counterGuest/dropdown-guest.pug
                script(src="components/form-elements/inputs/counterGuest/guest-dropdown.js")
                include components/form-elements/inputs/calendar-inputs/masked.pug
                script(src="components/form-elements/inputs/calendar-inputs/masked.js")
                include components/form-elements/inputs/calendar-inputs/date-dropdown/date-dropdown-empty.pug
                include components/form-elements/inputs/calendar-inputs/date-dropdown/filter-drop.pug
                include components/form-elements/inputs/email/email-form.pug
                include components/form-elements/inputs/rooms/room-def.pug
                include components/form-elements/inputs/rooms/room.pug
                script(src="components/form-elements/inputs/rooms/room.js") 
                include components/form-elements/inputs/checkbox/unactive/box-list-unactive.pug
                include components/form-elements/inputs/checkbox/box-list.pug
                script(src="components/form-elements/inputs/checkbox/box-list.js") 
                include components/form-elements/benefits/benefits.pug
            div.column__middle
                include components/form-elements/inputs/checkbox/checkbox-buttons/checkbox-buttons.pug  
                include components/form-elements/inputs/radiobuttons/radiobuttons.pug 
                script(src="components/form-elements/inputs/radiobuttons/radiobuttons.js") 
            div.column__end

