<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Colors and type
        link(rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css")
        link(rel="stylesheet" href="components/colors/colors.scss")
    body
        div.wrapper
            div.block
                div.block__items
                    div.items__color
                        div.square
                    div.item__names
                        div.item__title
                            p Dark Shade 100%
                        div.item__subtitle
                            p #1F2041


