<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Colors and type
        link(rel="stylesheet" href="components/null-function.scss")
        link(rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css")
        link(rel="stylesheet" href="components/colors/colors.scss")
    body
        div.wrapper
            div.columns 
                div.container
                    div.columns__row
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image1
                                    div.item__body
                                        div.item__title Dark Shade 100%
                                        div.item__subtitle #1F2041
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image2
                                    div.item__body
                                        div.item__title Dark Shade 75%
                                        div.item__subtitle #1F2041
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image3
                                    div.item__body
                                        div.item__title Dark Shade 50%
                                        div.item__subtitle #1F2041
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image4
                                    div.item__body
                                        div.item__title Dark Shade 25%
                                        div.item__subtitle #1F2041
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image5
                                    div.item__body
                                        div.item__title Dark Shade 5%
                                        div.item__subtitle #1F2041
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image6
                                    div.item__body
                                        div.item__title Purple
                                        div.item__subtitle #BC9CFF
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image7
                                    div.item__body
                                        div.item__title Green
                                        div.item__subtitle #6FCF97
                        