<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Colors and type
        link(rel="stylesheet" href="components/null-function.scss")
        link(rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css")
        link(rel="stylesheet" href="components/colors/colors.scss")
        link(rel="stylesheet" href="components/fonts.scss")

    body
        div.wrapper
            div.container
                div.columns 
                    div.columns__row
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image1
                                    div.item__body
                                        div.item__title Dark Shade 100%
                                        div.item__subtitle #1F2041
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image2
                                    div.item__body
                                        div.item__title Dark Shade 75%
                                        div.item__subtitle #1F2041
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image3
                                    div.item__body
                                        div.item__title Dark Shade 50%
                                        div.item__subtitle #1F2041
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image4
                                    div.item__body
                                        div.item__title Dark Shade 25%
                                        div.item__subtitle #1F2041
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image5
                                    div.item__body
                                        div.item__title Dark Shade 5%
                                        div.item__subtitle #1F2041
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image6
                                    div.item__body
                                        div.item__title Purple
                                        div.item__subtitle #BC9CFF
                        div.columns__column
                            div.columns__item.item
                                div.item__row
                                    div.item__image7
                                    div.item__body
                                        div.item__title Green
                                        div.item__subtitle #6FCF97
                    div.columns__row2
                        div.columns__column-2
                            div.columns__item.item
                                div.item__row
                                    div.item__name1 H1
                                    div.item__body
                                        div.item__text1 This one is the sub-section or widget title
                        div.columns__column-2
                            div.columns__item.item
                                div.item__row
                                    div.item__name2 H2
                                    div.item__body
                                        div.item__text2 Next one is the item title inside widgets
                        div.columns__column-2
                            div.columns__item.item
                                div.item__row
                                    div.item__name3 H3
                                    div.item__body
                                        div.item__text3 This is a label or CTA text
                        div.columns__column-2
                            div.columns__item.item
                                div.item__row
                                    div.item__name4 Body
                                    div.item__body
                                        div.item__text4 This is the body text which is used for most of the design, like paragraphs, lists, etc.