div.container-guestHover
    div.content-guest
        div.dropdown-guest
            div.dropdown__text Text Field
            div.dropdown__text2 Hover / Focus
            div.dropdown__input
                div.dropdown__formHover
                    form(action="#")
                        div.dropdown__field
                                input(type="email" name="email" id="email" placeholder="This is pretty awesome")       