div.container-guest
    div.content-guest
        div.dropdown-guest
            div.dropdown__text Text Field
            div.dropdown__text2 Default
            div.dropdown__input
                div.dropdown__form
                    form(action="#")
                        div.dropdown__field
                                input(type="email" name="email" id="email" placeholder="Email")       