div.room__wrap
        div.room-def
            div.title
                div.room__title dropdown
                div.room__subtitle Default
            div.room__header
                span.room__current 2 спальни, 2 кровати...
                span.room__icon expand_more