div.checkbox-buttons__wrap
  div.checkbox-buttons
    div.checkbox-buttons__header
      span.checkbox-buttons__current Checkbox Buttons
    div.checkbox-buttons__body
      div.checkbox-buttons__item
        input(type="checkbox" name="item" id="smoking")
        label(for="smoking") Можно курить
      div.checkbox-buttons__item
        input(type="checkbox" name="item" id="pets" checked)
        label(for="pets") Можно с питомцами
      div.checkbox-buttons__item
        input(type="checkbox" name="item" id="guests" checked)
        label(for="guests" class="last__item") Можно пригласить гостей (до 10 человек)